<table class="table table-striped">
  <thead>
    <tr>
      <th>Produkt</th>
      <th>Antal</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% slots.each do |slot| %>
      <tr>
        <td><%= slot.product_name %></td>
        <td><%= slot.quantity %></td>
        <td><%= link_to list_icon, warehouse_slot_slot_changes_path(@warehouse, slot) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Skapa ny lagerhylla", new_warehouse_slot_path(@warehouse), :class => "btn" %>
