<h1>Dashboard</h1>
<div>
  Här borde en lista på saker man kan tänkas vilja göra finnas.
</div>
<div>Det borde även finnas lite statistik och sånt smuttigt.</div>

<h4>Snabbvägar</h4>
<ul>
  <li>Skapa ny faktura</li>
</ul>

<h4>Övrigt</h4>
<ul>
  <li>Hantera fakturor</li>
  <li>Hantera lager</li>
  <li>Hantera produkter</li>
</ul>
