PORT=3005
DB_PREFIX=emmy
DB_NAME="${DB_PREFIX}_development"
DB_USERNAME=ubuntu
DB_PASSWORD=ubuntu
SECRET_KEY_BASE=geeyahW4koPhewe8ofushiGohphee7ohtieT1Eicopicho6AmahyieMeigieb6wamei0ahn9vae6mic0Houph0qua3gau7oothuchuagou4Eosomoon5uNg5lae7pafe
DEVISE_PEPPER=sa9opheel2fuopeetieNg8Aim5ohp4dahseipha9eiXiwi4voothaepeidilaeghoo7eichah1aejaelaish4va2AeQuahthaiFei8xal3Cu8hees2eeXeth0mieGh4E
