.info
  %div{id: 'tax_table_column'}
    %h4
      I flesta fall gäller kolumn 1
    %p
      %b  Kolumn 1 
      avser löner, arvoden och liknande ersättningar till den som är född 1949 eller senare. Allmän pensionsavgift ska betalas och inkomsten ger rätt till jobbskatteavdrag.
    %p
      %b  Kolumn 2 
      avser sådana inkomster (t.ex. pensioner) till den som är född 1948 eller tidigare, som inte är underlag för allmän pensionsavgift och inte ger rätt till jobbskatteavdrag.
    %p
      %b  Kolumn 3 
      avser löner, arvoden och liknande ersättningar till den som är född 1938–1948. Allmän pensionsavgift ska betalas och inkomsten ger rätt till ett högre jobbskatteavdrag än enligt kolumn 1.
    %p
      %b  Kolumn 4 
      avser löner, arvoden och liknande ersättningar till den som är född 1937 eller tidigare. Allmän pensionsavgift ska inte betalas. Inkomsten ger samma rätt till jobbskatteavdrag som enligt kolumn 3.
    %p
      %b  Kolumn 5 
      avser andra pensionsgrundande ersättningar än löner m.m., t.ex. ersättning från arbetslöshetskassa och egen arbetsskadelivränta, till den som är född 1938 eller senare. Allmän pensionsavgift ska betalas på inkomsten men denna ger inte rätt till jobbskatteavdrag. 
    %p
      %b  Kolumn 6
      avser sådana inkomster (t.ex. pensioner) till den som är född 1949 eller senare, som inte är underlag för allmän pensionsavgift och inte ger rätt till jobbskatteavdrag.
  %div{id: 'clearingnumber'}
    %p 
      Identifikation av bankkontoret. Nödvändigt om löner utbetalas via fil till banken.
    %p  
      Mer information hittas på  
      %a{ href: 'http://clearingnummer.info/', target: '_blank'}  cleringnummer.info
