.info
  %div{id: 'mail_from'}
    %p
      = t(:mail_template_from)
  %div{id: 'mail_to'}
    %p
      = t(:mail_template_to)
  %div{id: 'mail_text'}
    %p
      = t(:mail_template_text)
  %div{id: 'mail_attachment'}
    %p
      = t(:mail_template_attachment)
