= simple_form_for(@comment, wrapper: :horizontal_form, html: {class: 'form-horizontal'}, url: @comment_form_url) do |f|
  = f.error_notification

  = f.input :body

  .form-button-group
    .actions
      = f.submit class: 'btn btn-primary'
