.form-group
  .labels_width.control-label
    = form.label  label
  .fields_width
    .input-group
      %input{:class=>'form-control', :value =>value, :readonly=>'readonly'}
      .input-group-addon
        = link_to link_icon, link