.form-group
  .labels_width.control-label
    = form.label label
  .fields_width
    .input-group
      %input{:value => value, :readonly=>'readonly', :class=>'form-control'}
      - if can_edit
        .input-group-addon
          = link_to settings_icon, link
      - if object.can_delete?
        .input-group-addon
          = delete_modal_for object, link
