%footer
  .container-fluid
    .row
      .col-md-48.footer-inner
        %ul
          %li
            = t(:fork_me)
            = link_to 'github.com/dulvie/emmy', 'https://github.com/dulvie/emmy'
          %li
            = t(:feedback_at)
            = link_to 'github', 'https://github.com/dulvie/emmy/issues'

