%footer.hidden-xs.hidden-sm
  .container-fluid
    .row-fluid
      .col-xs-48.col-sm-48.col-md-36.col-lg-39.footer-inner
        %ul
          %li
            = t(:fork_me)
            = link_to 'github.com/dulvie/emmy', 'https://github.com/dulvie/emmy'
          %li
            = t(:feedback_at)
            = link_to 'github', 'https://github.com/dulvie/emmy/issues'

