%script{ :type=>"text/ng_template", :id=>idx}
  .modal-header
    %h3{ :class=>"modal-title"}
      = t(:description)
  .modal-body
    %div{ :ng_bind_html => "info" }
  .modal-footer
    = button_tag t(:ok), class: 'btn btn-default reseter', type: 'reset', :ng_click=>"cancel()"
