- if flash

  // @todo move this into angular, a more generic .js file,
  //       or come up with a pure css solution that works.
  :javascript
    function flashup() { $('.flash').slideUp(500); }
    setTimeout(flashup, 1000);

  - flash.each do |key, message|
    .flash.alert{:class => "alert-#{key} "}
      .container-fluid
        = message
