<h1>Kundlista</h1>
<table class="table table-striped ">
  <thead>
    <tr>
      <th>Namn</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= link_to settings_icon, edit_customer_path(customer) %></td>
        <td><%= link_to delete_icon, customer, method: :delete, data: { confirm: 'är du säker?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Lägg till ny kund', new_customer_path, :class => "btn" %>
