.center-content
  %h1 About
  %p.lead
    Emmy is an app to handle logistics (warehouse, sales etc) for a small
    organisation that is importing, refining and selling some kind of product.
  %p
    It's currently in beta, if you already have an account please
    = link_to 'Login', new_user_session_path
