.info
  %div{id: 'accounting_plan_file'}
    %p
      = t(:accounting_plan_file_bas)
    %p
      = t(:accounting_plan_file_k1)
    %p
      = t(:more_info)
      %a{ href: 'http://www.bas.se/kontoplaner.htm', target: '_blank'}  bas.se