.info
  %div{id: 'vat_period_type'}
    %p
      = t(:accounting_period_vat_period_type)
    %p
      = t(:more_info)
      %a{ href: 'https://www.skatteverket.se/foretagorganisationer/moms/redovisabetalamoms.4.7459477810df5bccdd480006935.html', target: '_blank'}  skatteverket.se