= link_to t(:vat_report), helps_show_chapter_help_path(chapter: '/videos/vat_setup.webm'), target: '_blank'
%br
= link_to t(:economics_wizard), start_economics_wizard_index_path
%br
= link_to t(:wages_wizard), start_wages_wizard_index_path
