%ul{:class => 'nav nav-tabs'}
  %li.active= link_to t(:base_information), "#manual-form", {"data-toggle" => "tab"}
  %li= link_to t(:comments), "#comment-index", {"data-toggle" => "tab"}
.tab-content
  #manual-form.tab-pane.active
    %br
    = render 'form'
  #comment-index.tab-pane
    = render partial: 'comments/index', locals: {comments: @manual.comments, parent: @manual}
