%ul{:class => 'nav nav-tabs'}
  %li.active= link_to "Base information", "#manual-form", {"data-toggle" => "tab"}
  %li= link_to "Comments", "#comment-index", {"data-toggle" => "tab"}
.tab-content
  #manual-form.tab-pane.active
    %br
    = render 'show'
  #comment-index.tab-pane
    = render partial: 'comments/index', locals: {comments: @manual.comments, parent: @manual}
