.info
  %div{id: 'vat_purchase_basis'}
    %p
      = t(:vat_purchase_info)
    %p
      = t(:more_info)
      %a{ href: 'https://www.skatteverket.se/foretagochorganisationer/moms/sarskildamomsregler/omvandskattskyldighet.4.47eb30f51122b1aaad28000258292.html', target: '_blank'} Skatteverket
