.info
  %div{id: 'ne_codes'}
    %p
      = t(:ne_code_info)
      = t(:more_info)
      %a{ href: 'https://www.skatteverket.se/foretagochorganisationer/inkomstdeklaration.4.133ff59513d6f9ee2ebe38.html', target: '_blank'} RSV sida för inkomstdeklaration.
    %p
      = t(:more_info)
      %a{ href: 'http://www.bas.se/sru.htm', target: '_blank'} SRU-koppling
