form {
  width: 750px;
}

a:hover .delete-icon {
  background-color: $state-danger-text;
  border-radius: 3px;
  @extend .icon-white
}

a:hover .settings-icon:hover {
  background-color: $state-success-text;
  border-radius: 3px;
  @extend .icon-white
}
