form {
  width: 750px;
}
form.form-bare {
  width: inherit;
}

.single-center {
  margin: 0 auto;
  width: 300px;
}

a:hover .delete-icon {
  color: $state-danger-text;
}
a:hover .settings-icon:hover {
  color: $state-success-text;
}

form.form-signin {
  input[type=email] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  input[type=password] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
