.hidden {
  @extend .hide;
}

.alert-notice {
  @extend .alert-success;
}

.flash {
  margin-top: -$line-height-computed;
  position: absolute;
  width: 100%;
}


.breadcrumb {
  margin-top: -$line-height-computed;
}

.translation_missing {
  background: #c00;
  color: #fff;
}

.state-change-form {
  form {
    @extend .well;
    background: $body-bg;
    z-index: 10;
    position: absolute;

  }
}

.numeric {
  text-align: right;
}
