// default bootstrap colors
$gray-base: #000;
$gray-dark: lighten($gray-base, 20%);



// Grid
$grid-columns: 48;


// Colors
$body-bg: #fdfdfd;
//$body-bg: #cc0000;
$text-color: $gray-dark;
$breadcrumb-bg: $body-bg;
$navbar-default-bg: $body-bg;
$navbar-default-border: $body-bg;
$navbar-inverse-color: $body-bg;
$navbar-inverse-link-color: $body-bg;
$navbar-inverse-bg: $text-color;
//$brand-primary: #c00;

// Font
// ? this is the default bootstrap value, why can't we just uses the variable instead?
$font-family-serif: Georgia, "Times New Roman", Times, serif;
$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
/**
 * @note fix nicer fonts!
 * $font-family-sans-serif: "Open Sans","Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
 */
$font-family-base: $font-family-sans-serif;

//$sidebar-bg: #dbe3cc;
$sidebar-bg: #666;
$sidebar-color: lighten($sidebar-bg, 40%);
$brand-color: #fefefe;
