%ul{:class => 'nav nav-tabs'}
  %li.active= link_to "Base information", "#product-form", {"data-toggle" => "tab"}
  %li= link_to "Quantities", "#quantity-index", {"data-toggle" => "tab"}
.tab-content
  #product-form.tab-pane.active
    %br
    = render 'form'
  #quantity-index.tab-pane
    = render "quantities", {shelves: Shelf.where('product_id = ?', @product)}
