= link_to 'Create Supplier', new_supplier_path, class: 'btn btn-primary'

%table{:class => 'table table-striped'}
  %thead
    %tr
      %th Supplier
      %th
      %th
    %tbody
      - @suppliers.each do |supplier|
        %tr
          %td= link_to(supplier.name, supplier)
          %td= link_to settings_icon, edit_supplier_path(supplier)
          %td= link_to delete_icon, supplier, method: :delete, data: { confirm: 'Are you Sure?' }
