.info
  %div{id: 'tax_codes'}
    %p
      = t(:tax_code_info)
    %p
      = t(:tax_code_vat)
      %a{ href: 'https://www.skatteverket.se/foretagochorganisationer/moms/deklareraochbetalamoms.4.7459477810df5bccdd480006935.html', target: '_blank'} Momsredovisning
    %p
      = t(:tax_code_wage)
      %a{ href: 'https://www.skatteverket.se/foretagochorganisationer/arbetsgivare/lamnaarbetsgivardeklaration.4.6a6688231259309ff1f800029116.html', target: '_blank'} Arbetsgivardeklaration
