%div{ng_controller: 'saleEditCtrl'}
  =render partial: 'form'
  %br
  .row
    .col-md-12
      - unless @sale.is_completed?
        = link_to t(@sale.next_step),
          state_change_sale_path(@sale, new_state: @sale.next_step),
          class: 'btn btn-info',
          method: :post
      - unless @sale.is_delivered?
        = link_to t(:deliver),
          state_change_sale_path(@sale, new_state: :deliver_goods),
          class: 'btn btn-info',
          method: :post
      - unless @sale.is_paid?
        = link_to t(:pay),
          state_change_sale_path(@sale, new_state: :pay),
          class: 'btn btn-info',
          method: :post
  .row
    .col-md-12
      = render partial: 'sale_items/index'
