<!DOCTYPE html>
<html>
  <head>
    <title>something</title>
    <style>
      /**
        Subset of bootstrap used only by wicked_pdf / wkhtmltopdf
        because compat...
      **/
      h3 {
        padding: 0;
        margin: 10px 0;
      }
      .row { clear: both; }
      .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-12 {
        float: left;
        margin: 5px 10px;
        /* border: 1px solid red; /* debug */
      }
      .col-md-3 { width: 150px; }
      .col-md-6 { width: 320px; }
      .col-md-12 { width: 660px; }
      .row .col-md-3 {
        margin: 0;
      }
      .row .mright { margin-right: 10px; }
      .text-right { text-align: right; }

      .table {
        width: 100%;
        border-spacing: 0;
      }
      .table col {
        display: table-column;
      }
      .table th { text-align: left; }
      .table th.numeric, .table td.numeric { text-align: right; }
      .table td {
        padding: 5px;
        margin: 0;
        border-top: 1px solid #aaa;
        display: table-cell;
      }
      .table tbody tr:nth-child(odd) {
        background: #eee;
      }

      .table tfoot td {
        border-top: 2px solid #666;
      }
      .table thead td {
        border-bottom: 1px solid #666;
      }

      .line { margin: 0; padding: 0; display: block; }

      p {
        margin-top: 0;
        margin-bottom: 0.5em;
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
